html, body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  overflow: hidden;
}

.app {
  display: flex;
}

@media screen and (max-width: 675px){
  .app{
    flex-direction: column;
}
}

@media screen and (max-width: 975px){
  .app{
    flex-direction: column;
}
}
#link {
text-decoration: none;
color: rgb(46, 46, 46);
}

/* ----- Nav ------ */

nav {
  height: 100vh;
  background-color: rgb(25,67,107);
  color: rgb(255,255,255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1020px){
  nav .logo-container,
  nav .controls-container {
  padding: 30px 15px;
}
}
@media screen and (max-width: 1130px){
  nav .logo-container,
  nav .controls-container {
  padding: 30px 15px;
}
}
@media screen and (max-width: 780px){
  nav .logo-container,
  nav .controls-container {
  padding: 20px 10px;
}

}
@media screen and (max-width: 975px){
  nav {
    flex-direction: row;
    height:60px;
  }
  nav .controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40px;
  }
}

@media screen and (max-width: 875px){
  nav {
    height:50px;
  }
  nav .controls-container,
  nav .logo-container {
    padding: 15px;
  }
}
@media screen and (max-width: 675px){
  nav {
    flex-direction: row;
    height:60px;
  }
  nav .controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
  }
}

nav .logo-container img {
  width: 20px;
}

nav .icon {
  color: rgb(255,255,255);
}

/* ----- Dashboard ------ */

.dashboard {
  padding: 30px;
  width: 100%;
}
@media screen and (max-width: 1020px) {
  .dashboard {
    padding: 20px;
  }
}
@media screen and (max-width: 785px) {
  .dashboard {
    padding: 15px;
  }
}
@media screen and (max-width: 675px) {
  .dashboard {
    padding: 10px;
  }
}
.dashboard .ticket-container {
  height: 80vh;
  overflow:  scroll;
}

/* ----- TicketCard ------ */
.ticket-card {
  display: flex;
  width: 100%
}
.ticket h1 {
  margin: 10px;
}
.ticket-card #link {
  display: flex;
  width: 100%;
}

.ticket-card #link > * {
  background-color: rgb(221, 221, 221);
  margin: 2px;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 985px) {
  .ticket-card #link > * {
    padding: 20px;
  }
}
@media screen and (max-width: 780px) {
  .ticket-card #link > * {
    padding: 10px;
  }
}
.ticket-card .ticket-color {
  width: 15px;
  margin: 2px;
}
@media screen and (max-width: 675px) {
  .ticket-card .ticket-color {
    display: none;
  }
}
.ticket-card .avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.ticket-card .img-container {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.ticket-card .img-container img {
  width: 100%;
}

.ticket-card .status-display {
  display: flex;
  justify-content: center;
}

.ticket-card .priority-display {
  display: flex;
  justify-content: center;
}


.ticket-card .priority-display .star-container {
  display: flex;
}

.ticket-card .priority-display .star-container h3 {
  margin: 7px;
  padding: 0;
  color: rgb(167, 167, 167);
}

@media screen and (max-width: 840px){
  .ticket-card .priority-display .star-container h3 {
   margin:5px;
  }
}
.ticket-card .progress-display {
  min-width: 200px;
}

@media screen and (max-width: 895px){
  .ticket-card .progress-display {
    min-width: 160px;
  }
}
@media screen and (max-width: 840px){
  .ticket-card .progress-display {
    min-width: 120px;
  }
}



.ticket-card .delete-block {
  background-color: rgb(221, 221, 221);
  width: 50px;
  margin: 2px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.ticket-card .delete-block .delete-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
}

.ticket-card .progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  overflow: hidden;
}

.ticket-card  .progress-bar .progress-indicator {
  background-color: rgb(104, 104, 175);
  height: 100%;
}

/* ----- Ticket ------ */

.ticket {
  padding: 30px;
  width: 100%;
}
@media screen and (max-width: 1130px){
  .ticket  {
    padding: 20px;
  }
}
@media screen and (max-width: 1065px){
  .ticket  {
    padding: 15px;
  }
}
@media screen and (max-width: 1015px){
  .ticket  {
    padding: 10px;
  }
}
@media screen and (max-width: 930px){
  .ticket  {
    padding: 5px;
  }
}
.ticket .ticket-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ticket form  {
  display: flex;
}

.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 500px;
}
@media screen and (max-width: 1130px){
  .ticket form section {
    width: 480px;
  }
}
@media screen and (max-width: 1065px){
  .ticket form section {
    width: 460px;
  }
}
@media screen and (max-width: 1010px){
  .ticket form section {
    width: 440px;
  }
}
@media screen and (max-width: 930px){
  .ticket form section {
    width: 420px;
  }
}
@media screen and (max-width: 875px){
  .ticket form section {
    width: 400px;
  }
}
@media screen and (max-width: 840px){
  .ticket form section {
    width: 380px;
  }
}
@media screen and (max-width: 790px){
  .ticket form section {
    width: 360px;
  }
}
@media screen and (max-width: 740px){
  .ticket form section {
    width: 340px;
  }
}
@media screen and (max-width: 710px){
  .ticket form section {
    width: 320px;
  }
}
@media screen and (max-width: 640px){
  .ticket form section {
    width: 300px;
  }
}
@media screen and (max-width:630px){
  .ticket form section {
    width: 280px;
  }
}
@media screen and (max-width:590px){
  .ticket form section {
    width: 260px;
  }
}
@media screen and (max-width:550px){
  .ticket form section {
    width: 240px;
  }
}
@media screen and (max-width:510px){
  .ticket form section {
    width: 220px;
  }
}
@media screen and (max-width:455px){
  .ticket form section {
    width: 400px;
  }
}
.ticket form input, select {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218, 218, 218);
  margin: 5px;
}

.ticket form .multiple-input-container {
  display: flex;
  margin: 10px 0 10px 0;
}

.ticket .img-preview {
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.ticket .img-preview img {
  width: 100%;
}